# Compiled class files
*.class
target/
*.jar
*.war
*.ear

# Log files
*.log

# IDE files
.idea/
*.iml
*.iws
.vscode/
.classpath
.project
.settings/
.factorypath

# OS files
.DS_Store
Thumbs.db

# Sensitive data
application-prod.properties
src/main/resources/application-prod.properties

# Maven
.mvn/
mvnw
mvnw.cmd